/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px 0;
  text-align: center;
}

section h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 36px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.column {
  flex-basis: 50%;
  padding: 0 20px;
}

.section-about {
  background-color: #f9f9f9;
}

.section-projects {
  background-color: #eaeaea;
}

.section-contact {
  background-color: #f2f2f2;
}

.section-about p,
.section-projects p,
.section-contact p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section-projects .column {
  margin-bottom: 40px;
}

.section-projects h3 {
  color: #333;
  margin-top: 20px;
  font-size: 24px;
}

.section-contact p {
  font-size: 20px;
  margin-bottom: 10px;
}

.section-contact p:last-child {
  margin-bottom: 0;
}
